.nav-bg {
    background-color: #c2ffc2;
}
body {
    background-color: #f0fff0;
}

.nav-item{
    border-radius: 10px;
}

.nav-item:hover {
    background-color: #e0f0ea;
    transition: .3s ease-in-out;
}

.dropdown-menu {
    background-color: #e0f0ea;
    border-radius: 20px;
}

.dropdown-menu a:hover {
    background-color: #95adbe;
    border-radius: 10px;
}

/* custom scrollbar */

::-webkit-scrollbar {
    width: 8px; 
    height: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #1e202a;
    outline: 1px solid #1e202a;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
  }

  .footer-bg {
    background-color: #1e202a;
    color: #f0fff0;
    padding: 5px;
  }